.container-login {
  max-width: 1080px;
  margin: auto;
  background-image: url("/ShopIphoneByReactJs/img/banner1.jpg");
  background-size: cover;
  background-color: aqua;
  background-position: center;
  width: 100%;
}
